{% extends "base.html.twig" %}

{% block body %}
    <form action="{{ path("app_mail_update", {"id":mail.id}) }}" method="POST">
        <br>
        <h3 align="center"> Please correct the form below to update Mail: </h3>
        <br>
        <div align="center"><label> Mail: <input name="mail" type="text" value="{{ mail.mail }}"></label></div><br>
        <div align="center"><label> Description: <input name="description" type="text" value="{{ mail.description }}"></label></div><br>
        <div align="center"><label> Contact: <select name="contact_id">
                    {% for contact in contacts %}
                        <option value="{{ contact.id }}"> {{ contact.name }}</option>
                    {% endfor %}
                    {# option value to to co bedziemy przesylac, a author name to co sie wyswietli #}
                </select></label></div>
        <div align="center"><input type="submit" value="Update"></div>
    </form>


    <p>
    <form align="center" action="{{ path('app_general_welcome') }}">
        <input type="submit" value="Main Page">
    </form>
    </p>

{% endblock %}