{% extends "::base.html.twig" %}

    {% block title %} ContacApp! {% endblock %}

    {% block stylesheets %} {{ parent() }} {% endblock %}

{% block header %}


    {% block head %}
        <p align="center"> Main page of <b>ContactApp</b> - best place to store Your contacts ! </p>
    {% endblock %}

    {% block button_add_new %}
        <form align="center" action="{{ path('app_contact_newcontact') }}">
        <input type="submit" value="Add new contact"></form>
    {% endblock%}

    {% block button_add_new1 %}
        <form align="center" action="{{ path('app_address_new') }}">
            <input type="submit" value="Add new address"></form>
    {% endblock%}
    {% block button_add_new2 %}
        <form align="center" action="{{ path('app_phone_new') }}">
            <input type="submit" value="Add new phone"></form>
    {% endblock%}
    {% block button_add_new3 %}
        <form align="center" action="{{ path('app_mail_new') }}">
            <input type="submit" value="Add new mail"></form>
        <br>   <br>
    {% endblock%}

    {% block button_show_all %}
        <form align="center" action="{{ path('app_contact_showallcontacts') }}">
        <input type="submit" value="Show All contacts"></form>
    {% endblock%}

    {% block button_show_all_addresses %}
        <form align="center" action="{{ path('app_address_showall') }}">
            <input type="submit" value="Show All addresses"></form>
    {% endblock%}

    {% block button_show_all_phones %}
        <form align="center" action="{{ path('app_phone_showall') }}">
            <input type="submit" value="Show All phones"></form>
    {% endblock%}
    {% block button_show_all_mails %}
        <form align="center" action="{{ path('app_mail_showall') }}">
            <input type="submit" value="Show All mails"></form>
    {% endblock%}

{% endblock %}

{% block body %}

    {% block contacts %}
        {{ include(':contact:show_all_contacts.html.twig') }}
    {% endblock %}


{% endblock %}

{% block footer %}
{% endblock %}
