{% extends "base.html.twig" %}

{% block body %}
    <h1 align="center">{{ contact.name }}</h1>
        <p align="center">{{ contact.description }}</p>

    <p>
    <form align="center" action="{{ path('app_contact_deletecontact', {"id":contact.id}) }}" method="POST">
        <input name="_method" type="hidden" value="DELETE">
        <input style="background-color: #C82829" type="submit" value="Delete">
    </form>
        <br>
    <div align="center">
       <h3> Addresses: </h3>
                 <ul style="list-style-position: inside">
        {% for address in contact.addresses %}
            <li>
                    {{ address.street }} {{ address.number }}, {{ address.city }}
                <form align="center" action="{{ path('app_address_load', {"id":address.id}) }}" method="POST">
                    <input style="background-color: #FFCC00" type="submit" value="Update">
                </form>
                <form action="{{ path('app_address_delete', {"id":address.id}) }}" method="POST">
                    <input name="_method" type="hidden" value="DELETE">
                    <input style="background-color: #C82829" type="submit" value="Delete">
                </form>
                <br>
            </li>
        {% endfor %}
                 </ul>
    </div>
    <div align="center">
        <h3> Phones: </h3>
        <ul style="list-style-position: inside">
            {% for phone in contact.phones %}
                <li>
                    {{ phone.phone }} {{ phone.description }}
                    <form action="{{ path('app_phone_delete', {"id":phone.id}) }}" method="POST">
                        <input name="_method" type="hidden" value="DELETE">
                        <input style="background-color: #C82829" type="submit" value="Delete">
                    </form>
                    <br>
                </li>
            {% endfor %}
        </ul>
    </div>
    <form align="center" action="{{ path('app_general_welcome') }}">
        <input style="background-color: cadetblue; font-weight: bold" type="submit" value="Main Page">
    </form>
    </p>
{% endblock %}


